@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-2-dark {
    -webkit-text-stroke: 1px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  :root {
    /* Your default theme */
    --bg-color: 0 0% 7%;
    --txt-color: 0 0% 100%;
    --c-text: 0 0% 100%;
  }
  :root[data-theme="dark"] {
    --bg-color: 0 0% 100%;
    --txt-color: 0 0% 0%;
    --c-text: 0 0% 7%;
  }
}
