.main {
  display: flex;
  flex-direction: column;
}
.bgRadial {
  @media screen and (prefers-color-scheme: light) {
    background: radial-gradient(
      circle,
      rgb(87 87 87) 0%,
      rgb(119 119 119) 15%,
      rgb(255 255 255) 69%,
      rgb(255 255 255) 100%
    );
  }

  @media screen and (prefers-color-scheme: dark) {
    background: radial-gradient(
      circle,
      rgb(125 125 125) 0%,
      rgb(119 119 119) 15%,
      #141414 69%,
      #212121 100%
    );
  }
  width: 375px;
  height: 375px;
  border-radius: 9999px;
  position: absolute;
  z-index: -1;
}
@media only screen and (min-width: 1536px) {
  .bgRadial {
    width: 700px;
    height: 700px;
  }
}
@media only screen and (min-width: 1280px) {
  .bgRadial {
    width: 600px;
    height: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  .bgRadial {
    width: 600px;
    height: 600px;
  }
}
@media only screen and (min-width: 640px) {
  .bgRadial {
    width: 600px;
    height: 600px;
  }
}
@media only screen and (max-width: 370px) {
  .bgRadial {
    display: none;
  }
}
